<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Albums</title>
</head>
<body>
    <h1>All Albums</h1>
    <div>
        <form method="POST" action="/albums">
            Title:<input name="title" />
            Artist:<input name="artist" />
            Song Count:<input name="songCount" type="number"min="1"/>
            Length (in seconds):<input name="length" type="number"min="1"/>
            Image Url:<input name="imageUrl" />
            <input type="submit" />
        </form>
    </div>

    <div th:each="album : ${albums}" >
        <a th:href="${ '/albums/' + album.id}"><h3 th:id="${album.title}" th:text="${album.title}">Album Title</h3></a>
        <p>
            Artist: <span th:text="${album.artist}"></span>
        </p>
        <p>
            Song Count: <span th:text="${album.songCount}"></span>
        </p>
        <p>
            Length (in seconds): <span th:text="${album.length}" ></span>
        </p>
        <img alt="image" th:src="${album.imageUrl}" width="400px">

    </div>
</body>
</html>